<?xml version="1.0"?>
<robot name="foundry_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ros2_foundry_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find ros2_foundry_description)/urdf/base.urdf.xacro"/>
  <xacro:include filename="$(find ros2_foundry_description)/urdf/arm.urdf.xacro"/>
  <xacro:include filename="$(find ros2_foundry_description)/urdf/gripper.urdf.xacro"/>
  <xacro:include filename="$(find ros2_foundry_description)/urdf/sensors.urdf.xacro"/>
  <xacro:mobile_base prefix=""/>
  <xacro:robot_arm prefix="" parent="base_link"><origin xyz="0 0 0.05" rpy="0 0 0"/></xacro:robot_arm>
  <xacro:gripper prefix="" parent="tool0"><origin xyz="0 0 0" rpy="0 0 0"/></xacro:gripper>
  <xacro:lidar prefix="" parent="base_link"><origin xyz="0.2 0 0.05" rpy="0 0 0"/></xacro:lidar>
  <xacro:depth_camera prefix="" parent="link5"><origin xyz="0 0 0.05" rpy="0 ${PI/2} 0"/></xacro:depth_camera>
  <ros2_control name="FoundryBotSystem" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="left_wheel_joint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="right_wheel_joint"><command_interface name="velocity"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint1"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint2"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint3"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint4"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint5"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="joint6"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="finger_left_joint"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="finger_right_joint"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  </ros2_control>
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_sim_type>gazebo_ros2_control/DefaultRobotHWSim</robot_sim_type>
        <parameters>$(find ros2_foundry_description)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>